---
---

//  Thi's custom styles

:root {
  --main-bg-2: #f2f2f2;

  // --main-color: #20181a;

  //-- khi chon voi Chang
  // --main-bg: #fff5f7;
  // --main-dark: #fe7fb8;

  //-- https://coolors.co/palettes/popular/pink
  // --main-bg: #ffe5ec;
  // --main-dark: #fb6f92;

  //-- https://www.moonpig.com/uk/
  --main-bg: #ffd3db;
  --main-color: #00214d;
  --main-dark: #C22E50;
}

body {
  background-color: var(--main-bg-2);
  color: var(--main-color);
}

a:hover,
a:focus {
  color: var(--main-dark);
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: var(--main-dark);
}

.container-fluid {
  display: flex;
  align-items: center;

  .navbar-header {
    white-space: nowrap;
  }

  .navbar-collapse {
    width: 100%;
    justify-content: flex-end;
  }
}

.navbar-custom {
  background-color: var(--main-bg);
}

.alt-color:nth-child(odd) {
  background-color: var(--main-bg);
}

// ------

.nav>li>a {
  padding: 10px!important;
}

.navbar-right {
  text-align: right;
  li i {
    font-size: 1.5rem;
  }
}

.publications {
  .item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding-bottom: 1.5rem;
    padding-left: 30px;

    &::before {
      content: "\f1ea";
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      opacity: 0.9;
      margin-left: -30px;
      float: left;
    }

    &:last-child {
      border-bottom: none;
    }

    &>* {
      margin-bottom: 5px;
      text-align: justify;
    }
  }
}

.contact {
  text-align: center;
  hr {
    width: 200px;
  }
  .email {
    margin-top: 1.5rem;
  }
}

.teaching {
  .timeline-content {
    ul {
      padding-left: 18px;
      .course-item {
        margin-bottom: 10px;
      }

      .course-univ {
        font-size: 97%;
      }

      .course-info {
        font-size: 95%;
      }
    }
  }
}

.blog-post {
  text-align: justify;
  ul, ol {
    li {
      margin-bottom: 10px;
    }
  }
}

#ndMucluc {
  padding-top: 10px;
}
ul#markdown-toc {
  li {
    margin-bottom: 5px;
    ul {
      margin-top: 5px;
      li {
        margin-bottom: 5px;
      }
    }
  }
}