---
---

//  Thi's custom styles

// html { scroll-behavior: smooth; }

:root {
  // --main-bg-2: #f2f2f2;
  --main-bg-2: #ffff;

  // --main-color: #20181a;

  //-- khi chon voi Chang
  // --main-bg: #fff5f7;
  // --main-dark: #fe7fb8;

  //-- https://coolors.co/palettes/popular/pink
  --main-bg: #ffe5ec;
  // --main-dark: #fb6f92;
  --main-dark: #e7577b; // modified from above

  //-- https://www.moonpig.com/uk/
  // --main-bg: #ffd3db;
  // --main-color: #00214d;
  // --main-dark: #C22E50;

  --main-color: black;
  --text-dark: #0d7299;
}

.timeline-narrow {
  .timeline-content {
    padding-bottom: 20px;
  }
}

.sub-section-title {
  font-size: 22px;
  color: #555;
  margin-bottom: 25px;
  border-bottom: 2px dashed #aaa;
  width: min(100%, 200px);
  padding-right: 20px;
  padding-bottom: 5px;
}

.text-muted {
  color: #444 !important;
}

a {
  color: #0779cd;
}

body {
  background-color: var(--main-bg-2);
  color: var(--main-color);
}

.section-title,
section h2 {
  background: linear-gradient(to right, #5477ff 0%, #ff0065 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

a:hover,
a:focus {
  color: var(--main-dark);
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: var(--main-dark);
}

.me-description {
  margin: 10px 0;
  // text-align: justify;
  li {
    margin: 5px 0;
  }
}

.container-fluid {
  @media only screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  .navbar-header {
    white-space: nowrap;
  }

  .navbar-collapse {
    width: 100%;
    justify-content: flex-end;
  }
}

.publications {
  p {
    margin: 0;
  }

  .title {
    color: #000;
    .publisher {
      color: #555;
      strong, b {
        color: #000;
      }
    }
  }

  .authors {
    color: #555;
    &:hover {
      color: #333;
    }
    b,
    strong {
      color: #000;
    }
  }
}

.activities {
  list-style: circle;

  .act-item {
    padding: 7px 0;
    .name,
    .more {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .name {
    }
    .more {
    }
  }
}

.navbar-custom {
  // background-color: var(--main-bg);
  background: linear-gradient(180deg, var(--main-bg) 0%, var(--main-bg-2) 100%);
  // box-shadow: 1px 1px 20px 0px #dfdfdf;
  border-bottom: 1px solid var(--main-bg);
  color: var(--text-dark);
}

.hr-title {
  border-color: #8e8e8e !important;
}

.alt-color:nth-child(even) {
  // background-color: var(--main-bg);
  background: linear-gradient(180deg, var(--main-bg) 0%, var(--main-bg-2) 100%);
  &:not(.not-pb-0) {
    padding-bottom: 0px;
  }
}

footer {
  box-shadow: 1px 1px 20px 0px #dfdfdf;
  // background: linear-gradient(0deg, var(--main-bg) 0%, var(--main-bg-2) 100%);
}

.intro-header .page-heading {
  margin-top: 3rem;

  h1 {
    background: linear-gradient(to right, #5477ff 0%, #ff0065 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
  }
}

b,
strong {
  font-weight: 600;
}

// ------

.nav > li > a {
  padding: 10px !important;
}

.navbar-right {
  text-align: right;
  li i {
    font-size: 1.5rem;
  }
}

.publications {
  .item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding-bottom: 1.5rem;
    // padding-left: 30px;

    &::before {
      content: '\f1ea';
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
      opacity: 0.9;
      margin-left: -30px;
      float: left;
    }

    &:last-child {
      border-bottom: none;
    }

    & > * {
      margin-bottom: 5px;
      // text-align: justify;
    }

    .source {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .more {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .activity {
      margin-bottom: 5px;
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.contact {
  text-align: center;
  hr {
    width: 200px;
  }
  .email {
    margin-top: 1.5rem;
  }
}

.me-desc {
  padding-top: 20px;
}

.header-index {
  @media only screen and (min-width: 768px) {
    padding-top: 50px;
  }
}

.act-date {
  // opacity: 0.8;
  color: var(--text-dark);
}

.teaching {
  .timeline-content {
    ul {
      padding-left: 18px;
      .course-item {
        margin-bottom: 10px;
      }

      .course-date-role {
        margin-top: 5px;
      }

      .course-more {
        margin-top: 5px;
        font-size: 95%;
        display: flex;
        align-items: center;
        gap: 5px;
        i {
          opacity: 0.6;
        }
        p {
          margin-top: 0;
        }
      }
    }
  }
}

.blog-post {
  text-align: justify;
  ul,
  ol {
    li {
      margin-bottom: 10px;
    }
  }
}

#ndMucluc {
  padding-top: 10px;
}
ul#markdown-toc {
  li {
    margin-bottom: 5px;
    ul {
      margin-top: 5px;
      li {
        margin-bottom: 5px;
      }
    }
  }
}
