<h2 class="section-title">Contact</h2>
<div class="contact">
  <div class="email">	Email: <a href="mailto:{{ site.data.settings.author.email }}">{{ site.data.settings.author.email }}</a></div>
  <div>Office 256, Chicoine Architecture, Mathematics and Engineering Hall</div>
  <div>905 Campanile Ave., Brookings, SD 57007, USA.</div>
  <hr>
  <div>Disclamer: This website is not an official website of South Dakota State University. The views and opinions expressed on this site are solely those of the author(s) and do not represent the official positions, policies, or views of South Dakota State University.</div>
</div>
