<h2{% if include.ref %} id="{{ include.ref }}" {% endif %} class="section-title">{{ include.heading }}</h2>
  {% if include.ref-title %}
  <h4><a class="txt-color" href="{{ include.ref }}">{{ include.ref-title }}</a></h4>
  {% endif %}

<ul class="publications">
  {% for item in include.source limit: include.limit %}
    <li class="item">
      {% if item.title %}
        <div class="title">
          {{ item.title | markdownify | remove: '<p>' | remove: '</p>' }}
          {% if item.publisher %}
            <span class="publisher">{{ item.publisher | markdownify | remove: '<p>' | remove: '</p>' }}</span>
          {% endif %}
        </div>
      {% endif %}

      {% if item.authors %}
        <div class="authors">{{ item.authors | markdownify | remove: '<p>' | remove: '</p>' }}</div>
      {% endif %}

      {% if item.source %}
        <div class="source"> {{ item.source | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>